.header {

  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.headerTitle {
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0;

}

@media (min-width: 576px) {
  .headerTitle {
    font-size: 1.8rem;
  }
  .header{
    margin: 2rem;
  }
}