.headerIcon {
  width: 1.7rem;
  height: 1.7rem;
}

.lightbox {
  width: 3vw;
  height: 3vw;
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: center;
  border-width: 0.5vw;
  border-color: rgb(0, 0, 0);
}


.darkbox {
  width: 3vw;
  height: 3vw;
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: center;
  border-width: 0.5vw;
  border-color: rgb(0, 0, 0);
}


@media (min-width: 768px) {
  .headerIcon {
    width: 2rem;
    height: 2rem;
  }
}